body {
    background-color: #406768;
}

.game {
    width: 255px;
    text-align: center;
    color: #cae8c5;
    margin: auto;
    font-weight: 500;
}

.title {
    background: #ca684a;
    padding: 5px 0;
    margin: 5px 0;
}

span {
    color: #cae8c5;
}

.square {
    width: 80px;
    height: 80px;
    background: #ca684a;
    float: left;
    margin: 2px;
    font-size: 50px;
}

.square:hover {
    background: #629b8d;
    cursor: pointer;
}